[build]
  publish = "public"
  functions = "functions"

[build.environment]
    HUGO_VERSION = "0.126.2"
    NODE_VERSION = "v20.11.1"
    NPM_VERSION  = "10.5.0"

[context.production]
  command = "npm run build"

[context.deploy-preview]
  command = "npm run build -- -b $DEPLOY_PRIME_URL"

[context.branch-deploy]
  command = "npm run build -- -b $DEPLOY_PRIME_URL"

[context.next]
  command = "npm run build"

[context.next.environment]
  HUGO_ENV = "next"

[[plugins]]
  package = "netlify-plugin-submit-sitemap"

	[plugins.inputs]
    baseUrl = "https://doks.netlify.app/"
    sitemapPath = "/sitemap.xml"
    ignorePeriod = 0
    providers = [
      "google",
      "yandex"
    ]

[dev]
  framework = "#custom"
  command = "npm run start"
  targetPort = 1313
  port = 8888
  publish = "public"
  autoLaunch = false


# Redirects and rewrites — https://docs.netlify.com/routing/redirects/#syntax-for-the-netlify-configuration-file

# # Custom headers — https://docs.netlify.com/routing/headers/#syntax-for-the-netlify-configuration-file
[[headers]]
  for = "/*"
  [headers.values]
    Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options = "nosniff"
    X-XSS-Protection = "1; mode=block"
    #Content-Security-Policy = "base-uri 'self'; default-src 'self' 'unsafe-inline' 'unsafe-eval' 'nonce-8IBTHwOdqNKAWeKl7plt8g==' https://*.netlify.app https://www.googletagmanager.com 'sha256-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855';"
    Content-Security-Policy = """
    base-uri 'self';
    default-src 'self';
    script-src 'self' 'unsafe-inline' 'unsafe-eval' devopscloudjunction-1.disqus.com *.disqus.com *.disquscdn.com *.disqus.net www.googletagmanager.com;
    connect-src 'self' www.google-analytics.com disqus.com disquscdn.com disqus.net;
    img-src 'self' data: disqus.com disquscdn.com;
    style-src 'self' 'unsafe-inline' disquscdn.com;
    frame-src disqus.com disquscdn.com disqus.net app.netlify.com;
    """
    X-Frame-Options = "SAMEORIGIN"
    Referrer-Policy = "strict-origin"
    Permissions-Policy = "geolocation=(self), microphone=(), camera=()"
    Cache-Control= '''
    public,
    max-age=31536000'''
    Access-Control-Allow-Origin = "*"
