.registration-form {
    max-width: 800px;
    margin: 0px auto 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .form-group {
        margin-bottom: 15px;

        label {
            display: block;
            margin-bottom: 8px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            font-size: 24px;
        }
    
        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        select, input[type="tel"], input[type="text"], input[type="email"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 10px;
        }

        input[type="tel"] {
            width: calc(100% - 10px); /* Adjust width based on the select */
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        select {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
      
        .country-code {
            width: 80px; /* Adjust the width to your preference */
            padding: 10px; /* Optional: Adjust padding */
            border: 1px solid #ccc; /* Maintain border for consistency */
            border-radius: 4px; /* Keep border radius */
        }
    }

    input[type="checkbox"] {
        margin-right: 8px;
        margin-bottom: 15px;
    }

    

    button {
        width: 100%;
        padding: 12px;
        background-color: #5d2f86;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #5d2f86;
        }
    }

    #success-message {
        color: green;
        font-weight: bold;
        margin-top: 10px;
    }
}
